// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
    font-family: 'Oswald', sans-serif;
}

i {
    font-family: fontawesome !important;
    font-style: normal;
}

.main_header {
    height: 100vh;
}

.header_fixed_bar {
    height: 50px;
    margin: 0;
}

.navbar-brand img {
    width: 143px;
    height: 20px;
}

.search {
    width: 90%;
    height: 30px;
    outline: none;
    border: none;
}

.search_btn {
    background-color: black;
    height: 30px;
    width: 30px;
    border: none;
}

.fa-search {
    color:white;
}

.icons {
    height: 30px;
    width: 30px;
}

.buttons_nav {
    padding-top: 80vh;
}

.buttons_nav button{
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    border: 0;
}

.add_form {
    margin-top: 10vh;
}

.catalog_img{
    height: 200px;
    position: relative;
}

.catalog_img img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}

.half_opacity {
    background-color:rgba(0, 0, 0, 0.5);
}

.rounded_comx {
    border-radius: 100px;
}