.site {
  overflow-y: overlay;
  height: 100vh;
}

.site::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.site::-webkit-scrollbar-track {
  background: #00000000;
  background-color: transparent;
}

.site::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 8px;
}

.site::-webkit-scrollbar-button {
  display: none;
}


