/*scroll*/

.scrollable {
    overflow-y: overlay;
    height: 100%;
}
.scrollable::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 8px;
}

.scrollable::-webkit-scrollbar-button {
    display: none;
}
